<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StatsConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <StatsConverter.Properties.Settings>
            <setting name="ExportFileName" serializeAs="String">
                <value>hdt-stats</value>
            </setting>
            <setting name="UseExportFileTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultExportPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="DevMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlushLines" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ReadFreq" serializeAs="String">
                <value>100</value>
            </setting>
        </StatsConverter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
